:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-1: "Inter", sans-serif;
  --font-2: "IBM Plex Serif", serif;
  --font-mono: Consolas, "Andale Mono", Courier, "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  margin: 0;
}